body {
	margin:0;
	padding:0;
	background: url(../img/wallpaper.jpg) no-repeat center fixed !important; 
	-webkit-background-size: cover; /* pour anciens Chrome et Safari */
	background-size: cover; /* version standardisée */
}

#server_logs ul li {
	color: white;
}

#desk {
	margin-top: 10px;
	width: 100%;
	position: relative;
	margin-bottom: 146px;
	margin-left: 10px;
}

#desk tr {
	background-color: black;
}

#desk table {
	background-color: black;
	margin: auto;
	width: 754px;
	border-spacing: 4px;
    border-collapse: separate;
    height: 156px;
}

#desk table tr td {
	width: 100px;
	height: 146px;
	position: relative;
	border: 2px solid white;
	border-radius: 5px;
	padding: 0;
	text-align: center;
	float: left;
	margin-left: 2px;
	border-radius: 5px;
}

#desk table tr td img {
	width: 100px;
	height: 146px;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
}

.desk-description {
	position: relative;
	color: white;
	z-index: 2;
	top: 10px;
}

.game-fieldset {
	width: 800px;
	opacity: 0.85;
	border-radius: 5px;
}

.description-fieldset {
	position: fixed;
	top: 0;
	right: 10px;
	width: 300px;
	height: 450px;
	border-radius: 5px;
}

.menu-fieldset .button {
	float: left;
	margin-right: 10px;
}

.log-fieldset {
	font-size: 12px;
	height: 51px;
	position: relative; 
	z-index: 99999;
	overflow-y: scroll;
	overflow-x: hidden;
}
.menu-fieldset {
	background-color: white;
	position: fixed;
	bottom: -18px;
	left: 0px;
	width: 100%;
	z-index: 99;
	opacity: 0.85;
}

.ennemy-hand-fieldset {
	overflow: hidden;
	height: 70px;
}

#focus-img {
	width: 300px;
}

.green {
	border: 2px solid green !important;
}