<fieldset ng-if="!game" id="server_logs">
	<legend>Server logs</legend>
	<ul>
		<li ng-repeat="log in logs track by $index">{{log}}</li>
	</ul>
</fieldset>
<div id="modal_shadow"></div>
<div id="modal">
	<p id="modal_p">Test</p>
	<input id="modal_cancel" type="submit" class="button alert" ng-click="modal_cancel()" value="Cancel">
	<input id="modal_accept" type="submit" class="button" ng-click="modal_accept()" value="OK">
</div>
<div id="desk" ng-if="game">
	<div id="board">
		<fieldset class="game-fieldset ennemy-hand-fieldset">
			<legend>Ennemy hand</legend>
			<table id="places-ennemy-hand">
				<tr>
					<td ng-repeat="card in enemy_hand track by $index">
						<img ng-src="{{ folder + back.img }}">
					</td>
				</tr>
			</table>
		</fieldset>
		<fieldset class="game-fieldset">
			<legend>Field</legend>
			<table id="places-table">
				<tr>
					<td><p class="desk-description">Deck zone</p></td>
					<td><p class="desk-description">Fusion deck zone</p></td>
					<td ng-repeat="card in enemy_traps track by $index" ng-mouseover="describe_enemy(card)">
						<p class="desk-description">Spell & trap card zone</p>
						<img ng-if="card.state == 'hidden'" ng-src="{{ folder + back.img }}">
						<img ng-if="card.state == 'visible'" ng-src="{{ folder + card.img }}">
					</td>
				</tr>
				<tr>
					<td>
						<p class="desk-description">Graveyard ({{enemy_graveyard.length}})</p>
						<img ng-if="enemy_graveyard.length > 0" ng-src="{{ folder + back.img }}">
					</td>
					<td><p class="desk-description">Field card zone</p></td>
					<td ng-repeat="card in enemy_monsters track by $index" ng-mouseover="describe_enemy(card)" ng-click="target(card, 'enemy_monsters')">
						<p ng-if="card.state == 'visible' && card.position == 'attack'" class="desk-description">Attack</p>
						<p ng-if="card.state == 'visible' && card.position == 'defense'" class="desk-description">Defense</p>
						<p ng-if="card.state == 'hidden'" class="desk-description">Hidden</p>
						<img ng-if="card.state == 'visible' || card.state == 'defense'" ng-src="{{ folder + card.img }}">
						<img ng-if="card.state == 'hidden'" ng-src="{{ folder + back.img }}">
					</td>
				</tr>
				<tr>
					<td>
						<p class="desk-description">Graveyard ({{graveyard.length}})</p>
						<img ng-if="graveyard.length > 0" ng-src="{{ folder + back.img }}">
					</td>
					<td><p class="desk-description">Field card zone</p></td>
					<td ng-repeat="card in monsters track by $index" ng-mouseover="describe(card)" ng-click="choice_action(card, 'board', 'monsters')" ng-Class="{green: card == card_selected}">
						<p ng-if="card.state == 'visible' && card.position == 'attack'" class="desk-description">Attak</p>
						<p ng-if="card.state == 'visible' && card.position == 'defense'" class="desk-description">Defense</p>
						<p ng-if="card.state == 'hidden'" class="desk-description">Hidden</p>
						<img ng-if="card.state == 'visible' || card.state == 'defense'" ng-src="{{ folder + card.img }}">
						<img ng-if="card.state == 'hidden'" ng-src="{{ folder + back.img }}">
					</td>
				</tr>
				<tr>
					<td><p class="desk-description">Deck zone ({{ deck.length }})</p><img ng-src="{{ folder + back.img }}"></td>
					<td><p class="desk-description">Fusion deck zone</p></td>
					<td ng-repeat="card in traps track by $index" ng-mouseover="describe(card)" ng-click="select(card, 'board')" ng-Class="{green: card == card_selected}">
						<p class="desk-description">Spell & trap card zone</p>
						<img ng-if="card.state == 'hidden'" ng-src="{{ folder + back.img }}">
						<img ng-if="card.state == 'visible'" ng-src="{{ folder + card.img }}">
					</td>
				</tr>
			</table>
		</fieldset>
		<fieldset class="game-fieldset">
			<legend>My hand</legend>
			<table id="places-self-hand">
				<tr>
					<td ng-repeat="card in hand track by $index" ng-mouseover="describe(card)" ng-click="select(card, 'hand')" ng-Class="{green: card == card_selected}">
						<img ng-src="{{ folder + card.img }}">
					</td>
				</tr>
			</table>
		</fieldset>
	</div>
	<div id="info_players" draggable>
		<fieldset class="player-fieldset">
			<legend>Player</legend>
			{{name}} {{pv}} pv
			<progress class="pb_pv" id="pb_pv_player" value="{{pv}}" max="3000">{{pv}} / 3000 pv</progress>
		</fieldset>
		<fieldset class="other-player-fieldset">
			<legend>Ennemy</legend>
			{{enemy_name}} {{enemy_pv}} pv
			<progress class="pb_pv" id="pb_pv_other" value="{{enemy_pv}}" max="3000">{{enemy_pv}} / 3000 pv</progress>
		</fieldset>
		<fieldset class="tip-fieldset">
			<legend>Tip</legend>
			{{tip}}
		</fieldset>
	</div>
	<div id="description_card" draggable>
		<fieldset class="description-fieldset">
			<legend>Description</legend>
			<img ng-if="!target_choice" id="focus-img" src="{{ folder + focus.img }}" alt="description">
			<img ng-if="target_choice" id="focus-img" src="{{ folder + target_choice.img }}" alt="description">
			<div ng-if="target_choice" id="previous" ng-click="previous_target(target_choice)">&lt;&lt; Previous</div>
			<div ng-if="target_choice" id="next" ng-click="next_target(target_choice)">Next &gt;&gt;</div>
		</fieldset>
	</div>
	<div id="menu" draggable>
		<fieldset class="menu-fieldset">
			<legend>Menu</legend>
			<input type="submit" class="button" ng-if="validate_target" ng-click="validate()" value="Choose">
			<input type="submit" class="button" ng-if="attack_button" ng-click="attack()" value="Attack">
			<input type="submit" class="button" ng-if="switch_button" ng-click="switch_position(card_selected)" value="{{switch_value}}">
			<input type="submit" class="button" ng-if="visible_button" ng-click="switch_state_selected()" value="Visible">
			<input type="submit" class="button" ng-if="play_visible_button" ng-click="play('visible')" value="Visible">
			<input type="submit" class="button" ng-if="play_hidden_button" ng-click="play('hidden')" value="Hidden">
			<input ng-if="game_turn.my_turn" type="submit" id="end-turn" class="button alert" ng-click="end()" value="End turn">
			<ul class="log-fieldset">
				<li ng-repeat="log in logs | reverse track by $index ">{{ log }}</li>
			</ul>
		</fieldset>
	</div>
</div>